@font-face {
    font-family: 'ScoreDozer';
    src: url('./fonts/ScoreDozer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StrongGamer';
    src: url('./fonts/StrongGamer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: normal; 
    font-style: normal;
    src: url('./fonts/IBMPlexSerif-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 500; 
    font-style: normal;
    src: url('./fonts/IBMPlexSerif-Medium.woff') format('woff');
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 600; 
    font-style: normal;
    src: url('./fonts/IBMPlexSerif-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 700; 
    font-style: normal;
    src: url('./fonts/IBMPlexSerif-Bold.woff') format('woff');
}

